/* Style adjustments for overall look */
body {
    background: linear-gradient(122.3deg, rgb(255, 237, 134) 14.6%, rgb(243, 167, 80) 29.6%, rgb(255, 178, 62) 42.1%, rgb(247, 149, 21) 56.7%, rgb(245, 105, 12) 68.7%, rgb(253, 162, 24) 84.8%);
    font-family: "Roboto", sans-serif;
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
  }
  
  /* Align text to the left but keep the content centered */
  .app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  h1 {
    text-align: left;
  }
  
  .weather-info {
    text-align: left;
  }

a {
    color: #eff5f7;
    text-decoration: none;
}

.weather-app {
    background: rgb(243, 145, 99);
    max-width: 600px;
}

/* Style for header search form */
header {
    border-bottom: 1px solid #dfe240;
    padding-bottom: 30px;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    padding: 15px;
}

.search-form-button {
    background: hsl(43, 33%, 64%);
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    color: #111;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-form-button:hover {
    background: hsl(59, 92%, 61%);
}

main {
    padding: 30px 0;
}

/* Weather display styles */
.weather-app-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-app-city {
    font-size: 38px;
    line-height: 48px;
    margin: 0;
}

.weather-app-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.6);
    line-height: 24px;
    font-weight: 500;
}

.weather-app-icon img {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.weather-app-temp-unit {
    display: flex;
    align-items: baseline;
}

.weather-app-temperature {
    font-size: 64px;
    font-weight: bold;
    margin-right:5px
}

.weather-app-unit {
    font-size: 24px;
    margin-left: 5px;
    color: #333;
}

footer {
    border-top: 1px solid #f9f7fe;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
